body {
	background: black;

	&.unfade {
		.glitchRemix {
			opacity: 1;
			transition: opacity 1s;
		}

		#playBtn {
			opacity: 1;
			transition: opacity 1s;
		}

		.a-enter-vr {
			opacity: 1;
			transition: opacity 1s;
		}
	}
}

a-scene {
	opacity: 0;
	background: black;
	transition: opacity 0.6s;

	&.loaded {
		opacity: 1;
		transition: opacity 1s;
	}
}

#defaultCanvas0 {
	position: absolute;
	bottom: 0;
	left: 0;
}

#splashPg {
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100vw;
	height: 100vh;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.6);
	// opacity: 1;
	transition: all 1s;

	&.fadeOut {
		background-color: rgba(0, 0, 0, 0);
		transition: background-color 1s;
		* {
			opacity: 0;
			transition: opacity 1s;
		}
	}

	.splashInner {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		position: relative;
		width: 100%;
		max-width: 600px;
    // border: 1px solid deepskyblue;
	}

	@media (min-width: 1025px) {
	}

	h1 {
		width: 100%;
		margin: 0;
		padding-bottom: 20px;
		text-align: center;
	}

	h2 {
		font-weight: 400;
	}

	p {
		margin: 5px auto;
		font-size: 18px;
		font-weight: 300;
		letter-spacing: 1.5px;
		line-height: 1.7;

		& span {
			border-bottom: 1px solid #dadada;
		}
	}

	button {
		position: static;
		bottom: 0;
		width: 150px;
		height: 42px;
		margin: 20px auto 0;
		padding: 10px 20px 12px;
		font-size: 16px;
		color: white;
		letter-spacing: 1.5px;
		font-weight: 300;
		border: 1px solid transparent;
		background-color: transparent;
		transition: all 0.4s;
		opacity: 1;
		transition: opacity 1s;

		&.enter {
      position: absolute;
			opacity: 0;
			border: 1px solid white;
		}

		&:hover {
			color: black;
			background-color: white;
			transition: all 0.4s;
			cursor: pointer;
		}

		&.unfade {
			opacity: 1;
			border: 1px solid white;
			transition: all 1s;
		}
	}
}
.blinkDot {
	animation: 1.4s blinker linear infinite;
}
@keyframes blinker {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.glitchRemix {
	opacity: 0;
	z-index: 2;
	position: absolute;
	top: 20px;
	right: 20px;

	img {
		background-color: white;
		border: 1px solid white;
		border-radius: 5px;
	}
}

#playBtn {
	opacity: 0;
	z-index: 2;
	position: absolute;
	bottom: 20px;
	left: 22px;
	padding: 2px 10px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 7px;
	background: white;
	outline: none;
}

.a-enter-vr {
	opacity: 0;
	font-family: sans-serif, monospace;
	font-size: 13px;
	width: 100%;
	font-weight: 200;
	line-height: 16px;
	position: absolute;
	right: 20px;
	bottom: 20px;
}
