a-scene {
  background: black;
}

#defaultCanvas0 {
  position: absolute;
  bottom: 0;
  left: 0;
}

p {
  display: none;
  position: absolute;
  bottom: 80px;
  color: white;
  &:last-child {
    bottom: 40px;
  }
}

#playBtn {
  position: absolute;
  bottom: 20px;
  left: 22px;
  padding: 2px 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 7px;
  background: white;
  outline: none;
}

.glitchRemix {
  z-index: 2;
  position: absolute;
  top: 20px;
  right: 20px;

  img {
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
  }
}